pytest
pylint
streamlit==1.16.0
pdf2image
opencv-python
scikit-image
imutils
matplotlib
numpy
poppler-utils
plotly
pandas==2.0.0
openpyxl
seaborn
chart_studio
geopandas
ipython
shapely
scikit-learn
flopy
